@using ClosingTime.Extensions
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Closing Time</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/ClosingTime.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.13.1/dist/cdn/beer.min.css" rel="stylesheet" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.13.1/dist/cdn/beer.min.js"></script>
    <script type="module"
        src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    @Html.Partial("_Favicons")
</head>

<body>
    <nav class="bottom fixed">
        <button class="circle transparent">
            <i>home</i>
        </button>
        <button class="circle transparent">
            <i>add</i>
        </button>
        <button class="circle transparent">
            <img class="responsive" src=@User.GetAvatarUrl() />
        </button>

    </nav>

    <main class="responsive">
        @RenderBody()
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
