@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}

<article class="extra padding center-align middle">
    <div class="large-space"></div>
    <header class="center-align">
        <h2>Welcome</h2>
        <p class="small-text opacity-70">Must be a member of Revolution Sheffield discord server to use!</p>
    </header>

    <div class="space"></div>

    <button class="">Login with discord</button>

    <div class="large-space"></div>
</article>